services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: alexus98
      POSTGRES_PASSWORD: youshallnotpass
      POSTGRES_DB: appdb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
